:host{
    grid-area: pokemon-list;
    height: 100%;
    width: 16.25rem;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

section{
    max-height: 88vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}