:host{
    grid-area: pokemon-list;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

section{
    height: 100%;
    overflow-y: scroll;

    
}

::-webkit-scrollbar {
    display: none;
}