.pokedex {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 4rem 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "pokemon-list topBar"
        "pokemon-list pokemon-overview";
    height: 100vh;
}

.pokemon-list {
    grid-area: pokemon-list;
}

.topBar {
    grid-area: topBar;
}

.pokemon-overview {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-area: pokemon-overview;
}